.btedit {
    color: #00838f;
    
}

 .btn-danger1 {
    color: #fff;
    background-color: #00838f;
    border-color: #00838f;
}
/*
.light.btn-danger {
    background-color: #fff3f7;
    border-color: #fff3f7;
    color: #00838f;
} */